@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.categories__link {
    background: $color-white;
    border-radius: 8px;
    box-shadow: $box-shadow-card-small;
    display: flex;
    font-family: $font-main;
    height: 98px;
    padding: 24px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &--hidden {
        display: none;
    }

    &-title {
        color: $color-text-title;
        font-size: $font-size-title-medium;
        font-weight: 900;
        line-height: 32px;
        @include small-size {
            font-size: $font-size-title-small;
        }
    }

    &-text {
        color: $color-text-title;
        font-size: $font-size-text;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
    }

    &-icon {
        height: 120px;
        position: absolute;
        right: -10px;
        top: calc(50% - 126px / 2);
        width: auto;
        @include medium-size {
            height: 75px;
            top: calc(50% - 75px / 2);
        }
    }
}
