@import 'src/styles/mixins/mixins';
@import 'src/styles/base/config';

@include mobile {
    .register-btn-col {
        margin-top: 20px;
        order: 2;
        text-align: center;
    }

    .register-sign-in-col {
        order: 1;
        text-align: center;
    }
} ;
