$font-family-name: 'Roboto';

@font-face {
    font-family: $font-family-name;
    font-weight: 400;
    src: url('./Roboto-Regular.woff2');
}

@font-face {
    font-family: $font-family-name;
    font-weight: 500;
    src: url('./Roboto-Medium.woff2');
}
