@import 'styles';

.page-layout {
    text-align: left;

    &__title {
        color: $color-text-main;
        font-size: $font-size-title;
        font-weight: 700;
        line-height: 42px;
    }
}
