$title-color: #3e5067;
$title-font-size: 36px;

.page-layout {
    padding: 48px;
    text-align: left;

    &__title {
        color: $title-color;
        font-size: $title-font-size;
        font-weight: bold;
        line-height: 42px;
        text-align: left;
    }
}
