@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.restaurant-card {
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 44vw;
    justify-content: space-between;
    min-height: 128px;
    padding: 16px;

    @include tablet-l {
        height: 16vw;
        padding: 8px;
    }

    @include laptop {
        height: 16vw;
    }

    @include desktop {
        height: 16vw;
        max-height: 256px;
    }

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__check-in {
        align-items: center;
        background-color: $color-restaurant-rating-secondary;
        border-radius: 8px;
        display: flex;
        height: 32px;
        padding: 0 12px;

        svg {
            margin-bottom: 2px;
        }

        div {
            color: $color-restaurant-rating-primary;
            display: block;
            font-size: $font-size-restaurant-rating;
            padding-left: 8px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
    }

    &__categories {
        color: $color-text-restaurant-card-secondary;
        font-size: $font-size-restaurant-card-secondary;
        text-transform: uppercase;

        svg {
            margin: 0 8px 1px 14px;
        }
    }

    &__title {
        align-items: center;
        color: $color-text-restaurant-card-primary;
        display: flex;
        font-size: $font-size-restaurant-card-primary;
        justify-content: space-between;

        span {
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__time {
        color: $color-text-restaurant-card-secondary;
        font-size: $font-size-restaurant-card-secondary;
    }
}
