@import 'src/styles/base/colors';
@import 'src/styles/base/typography';

.button {
    @extend %button-large;
    background-color: $color-primary;
    border: unset;
    border-radius: 65px;
    color: $color-white;
    cursor: pointer;
    padding: 8px 24px;

    &:focus,
    &:hover {
        background-color: $color-primary-hover;
    }

    &:active {
        background-color: $color-primary-active;
    }

    &--medium {
        @extend %button-medium;
    }

    &:disabled {
        background-color: $color-primary-disabled;
        color: $color-text-accent;
    }
}
