@import 'src/styles/base/colors';
@import 'src/styles/base/typography';

.login-button {
    @extend %typography-btn;
    background-color: $color-purple;
    border: unset;
    border-radius: 65px;
    color: $color-white;
    padding: 8px 24px;
}
