@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$birthday-card-z-index: 1;

.birthday-card {
    align-items: center;
    background: none;
    margin-bottom: 50px;
    max-width: 416px;
    position: relative;

    &__image {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: $birthday-card-z-index;

        img {
            border-radius: 50%;
            height: 70px;
            object-fit: cover;
            width: 70px;
        }
    }

    &__content {
        align-items: center;
        background: $color-white;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: -35px;
        max-width: 416px;
        padding: 16px;
        position: relative;

        &__body {
            @extend %caption-2;
            align-items: center;
            background-image: url('../../../assets/birthday-decor.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            color: $color-text-birthday-card;
            display: flex;
            flex-direction: column;
            height: 102.44px;
            justify-content: flex-end;
            margin-bottom: 16px;
            position: relative;
            width: 100%;

            &__date {
                font-weight: 500;
                line-height: 16px;
                text-transform: none;
            }

            &__wish {
                text-transform: none;
            }
        }

        &__action {
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 16px 0 0 -16px;
            width: 100%;

            button {
                background: transparent;
                border-style: none;
                cursor: pointer;
                margin-right: 8px;
            }

            span {
                @extend %caption-2;
                color: $color-amount-of-likes;
                margin-right: 12px;
            }
        }

        &__comments {
            max-width: 100%;
            position: relative;
        }
    }
}
