@import '../../../styles/mixins/mixins';

.comments {
    height: 100%;
    position: relative;

    &__body {
        margin-top: 8px;
        max-height: calc(80vh - 500px);
        overflow: auto;
        position: relative;
    }
}
