@import '~leaflet/dist/leaflet.css';
@import '../../styles/base/base';

.location-map-container {
    border-radius: 8px;
    box-shadow: $box-shadow-main;
    height: 95vh;
    max-height: Min(95vh, 420px);
    min-height: Min(95vh, 200px);
    width: 100%;
}

.location-map-marker-icon {
    filter: drop-shadow(0 2px 4px #ddd);
}
