@import '../../styles/base/base';
@import '../../styles/mixins';

.top-bar {
    background-color: $color-bg-topbar;
    height: 80px;
    padding: 0 48px;
    z-index: $z-index-mobile-nav;
    @include mobile {
        padding: 0 24px;
    }
    @media (max-width: 850px) {
        height: 80px;
    }

    &__content {
        @include restrict-block-to-max-width($max-page-width);
        align-items: center;
        color: $color-white;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }

    &__navigation-section {
        @media (max-width: 850px) {
            display: none;
        }
    }

    &__user-mobile-nav-section {
        display: flex;
        flex-direction: row;
    }

    &__mobile-nav-section {
        @media (max-width: 850px) {
            padding-left: 15px;
        }
        @media (min-width: 851px) {
            display: none;
        }
    }

    &__logo-section {
        height: 48px;
    }
}
