@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.item-card {
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    font-family: $font-main;
    height: 160px;
    margin: 12px 0;
    max-width: 1018px;
    padding: 16px;
    position: relative;
    width: 60vw;

    @include mobile {
        border-radius: 0;
        height: 170px;
        margin: 6px 0;
        padding: 24px 16px;
        width: 100vw;
    }

    @include tablet-s {
        width: 95vw;
    }

    @include tablet-l {
        width: 70vw;
    }

    &__author,
    &__brand {
        color: $color-gray-3;
        font-size: $font-size-xs;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__title {
        color: $color-gray-1;
        display: block;
        font-size: $font-size-2xl;
        font-weight: 500;
        margin: 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;

        @include mobile {
            width: 200px;
        }

        @include tablet-s {
            width: 300px;
        }
        @include tablet-l {
            width: 400px;
        }

        @include laptop {
            width: 590px;
        }

        @include desktop {
            width: 800px;
        }
    }

    &__mark {
        filter: brightness(10);
        height: 16px;
        margin: 1px 0 0 1px;
        //text-align: center;
        width: 16px;

        &--check {
            background-color: $color-green;
            border-radius: 50%;
            height: 18px;
            width: 18px;
        }

        &--cross {
            background-color: $color-red;
            border-radius: 50%;
            height: 18px;
            width: 18px;
        }
    }

    &__availability {
        color: $color-gray-2;
        font-size: $font-size-xs;
        font-style: normal;
        font-weight: 500;
        margin-left: 8px;
        text-transform: uppercase;
    }

    &__heart {
        position: absolute;
        right: 8px;
        top: 16px;
    }

    &__corner-buttons {
        bottom: 16px;
        position: absolute;
        right: 16px;
        @include mobile {
            bottom: 8px;
            right: 16px;
        }

        &__view-more {
            background-color: $color-transparent;
            border-style: none;
            color: $color-gray-3;
            cursor: pointer;
            font-size: $font-size-xs;
            font-style: normal;
            font-weight: 500;
            margin-right: 16px;
            text-align: center;
            text-transform: uppercase;
            width: fit-content;

            &:focus,
            &:hover {
                color: $color-gray-2;
            }

            &:active {
                color: $color-gray-1;
            }

            &:disabled {
                color: $color-gray-7;
            }
        }
    }

    &__quantity {
        color: $color-gray-3;
        font-size: $font-size-xs;
        font-weight: 500;
        margin-top: 36px;
        text-transform: uppercase;
    }
}

.image-container {
    box-sizing: border-box;
    height: 128px;
    margin-right: 8px;
    text-align: center;
    width: 120px;

    @include mobile {
        display: none;
    }

    &__image {
        height: 100%;
        max-width: 120px;
        width: auto;
    }
}

.flexbox {
    display: flex;
}
