@import '../../styles/base/colors';
@import '../../styles/base/typography';

.reservations-section {
    margin: 84px 0 96px;

    &__title {
        color: $color-text-reservations-primary;
        font-size: $font-size-reservation-h2;
        font-weight: 900;
        line-height: 32px;
    }
}
