@charset "utf-8";

@import 'base/base';
@import 'base/typography';
@import 'fonts/fonts';
@import 'mixins/mixins';
@import 'components/index';

@import 'placeholders/placeholders';
@import 'print';

body {
    background-color: $color-grey;
}

.app {
    margin: 40px auto;
    max-width: 556px;
    text-align: center;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: $font-main;
    margin: 0;
    padding: 0;
}
