@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

// Delete this
$font-family-delete: sans-serif;

.app {
    font-family: $font-family-delete;
    margin: 40px auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
}
