@import './src/styles/base/base';

.get-started-list {
    border: 1px solid $color-black;
    border-radius: 3px;
    margin: 25px;
    padding: 10px;
    text-align: left;

    &__list {
        margin-left: 20px;
        padding: 10px;
    }

    &__list-item {
        padding: 5px;
    }
}
