@import '../../../styles/base/base';
@import '../../../styles/fonts/fonts';
@import '../../../styles/mixins/mixins';

$color-white: #fff;
$color-purple: #6e44ff;
$color-border-light-blue: #cacfd5;
$color-dark-blue: #3e5067;
$font-size-14: 14px;

.pagination-block {
    display: flex;
    margin-top: 16px;

    &__page-button {
        background: $color-white;
        border: 1px solid $color-border-light-blue;
        border-radius: 5px;
        color: $color-dark-blue;
        font-size: $font-size-14;
        font-weight: 900;
        height: 32px;
        margin-right: 16px;
        padding: 8px 0;
        text-align: center;
        text-decoration: none;
        width: 32px;

        @include mobile {
            margin-right: 6px;
        }

        &:active {
            background: $color-purple;
            color: $color-white;
        }

        &--current {
            background: $color-purple;
            color: $color-white;
        }
    }
}
