@import './../../styles/base/base';

.categories-section__title {
    color: $color-text-main;
    font-size: $font-size-h2-alternative;
    font-weight: 900;
    margin-top: 72px;
    padding-bottom: 42px;
}
