@import 'styles';

.layout {
    background-color: $color-bg-container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &__container {
        flex-grow: 1;
    }

    &__footer {
        align-items: center;
        background-color: $color-bg-footer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        display: flex;
        height: 72px;
        justify-content: flex-end;
        padding: 0 48px;

        &__copyright {
            color: $color-text-footer;
            font-size: $font-size-footer;
            font-weight: 500;
        }
    }
}
