@import '../../styles/base/base';
@import '../../styles/mixins';
@import '../../styles/base/config';

.layout {
    background-color: $color-bg-container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    padding: 48px;
    @include mobile {
        padding: 24px;
    }

    &__content {
        @include restrict-block-to-max-width($max-page-width);
    }
}

.footer {
    align-items: center;
    background-color: $color-bg-footer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 72px;
    justify-content: flex-end;
    padding: 0 48px;
    @include mobile {
        padding: 0 24px;
    }

    &__copyright {
        @include restrict-block-to-max-width($max-page-width);
        color: $color-text-main;
        font-size: $font-size-footer;
        font-weight: 500;
        text-align: right;
    }
}
