@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.video-card {
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 416px;
    padding: 12px 0;
    position: relative;

    &__header {
        @extend %caption-2;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 16px 12px;
        max-width: 100%;

        img {
            border-radius: 50%;
            height: 24px;
            object-fit: cover;
            width: 24px;
        }

        &__name {
            margin-left: 12px;
        }

        &__time {
            color: $color-photo-card-time;
            margin-left: auto;

            span {
                margin-right: 12px;
            }
        }
    }

    &__post-video {
        // height: 405px;
        margin-bottom: 16px;
        position: relative;
        width: 100%;

        video {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__action {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 16px 0 8px;
        width: 100%;

        button {
            background: transparent;
            border-style: none;
            cursor: pointer;
            margin-right: 8px;
        }

        span {
            @extend %caption-2;
            color: $color-amount-of-likes;
            margin-right: 12px;
        }
    }

    &__comments {
        margin: 0 16px;
        position: relative;
    }
}
