@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.photo-card {
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    max-width: 416px;
    padding: 12px 0;
    position: relative;

    @include tablet-s {
        max-width: 769px;
    }

    &__header {
        @extend %caption-2;
        align-items: center;
        display: flex;
        margin: 0 16px 12px;
        max-width: 100%;

        img {
            border-radius: 50%;
            height: 24px;
            margin-right: 12px;
            max-width: 24px;
            min-width: 24px;
            object-fit: cover;
        }

        &__name {
            color: $color-text-strong;
        }

        &__time {
            color: $color-text-main-alt;
            margin-left: auto;

            span {
                margin-right: 12px;
            }
        }
    }

    &__post-image {
        height: 409px;
        margin-bottom: 16px;
        max-width: 416px;
        position: relative;

        @include tablet-s {
            max-width: 769px;
        }

        @include tablet-l {
            height: 349px;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__action {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 16px 0 8px;
        max-width: 100%;
        position: relative;

        button {
            background: transparent;
            border-style: none;
            cursor: pointer;
            margin-right: 8px;
        }

        span {
            @extend %caption-2;
            color: $color-card-likes;
            margin-right: 12px;
        }
    }

    &__comments {
        margin: 0 16px;
        position: relative;
    }
}
