@import 'src/styles/base/colors';
@import 'src/styles/base/typography';

.form-label {
    @extend %caption-1;
    color: $color-text-accent;
    display: block;
    margin-bottom: 25px;
    text-align: left;
}
