@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$modal-background-z-index: 10;
$modal-body-z-index: 11;

.modal {
    align-items: center;
    backdrop-filter: blur(5px);
    //background-color: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $modal-background-z-index;

    &__body {
        max-height: 90%;
        max-width: 90%;
        z-index: $modal-body-z-index;
    }
}
