$modal-background-z-index: 10;
$modal-body-z-index: 11;

// Modal Background Color:
$modal-background-color: rgba(61, 61, 61, 0.712);

.modal {
    align-items: center;
    background-color: $modal-background-color;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $modal-background-z-index;

    &__body {
        max-height: 90%;
        max-width: 90%;
        z-index: $modal-body-z-index;
    }
}
