@import 'src/styles/base/colors';
@import 'src/styles/base/config';
@import 'src/styles/base/typography';
@import 'src/styles/base/util';
@import 'src/styles/mixins/mixins';

.form {
    &__row {
        @include form-row-style;

        &:last-child {
            align-items: baseline;
            margin-bottom: 0;
        }
    }

    &__col-33 {
        @extend %text-left;
        @include form-col-style;
        width: calc(33% - (2 * #{$form-col-length}));
    }

    &__col-50 {
        @include form-col-style;
        width: 50%;
    }

    &__col-66 {
        @extend %text-right;
        @include form-col-style;
        width: calc(66% - (2 * #{$form-col-length}));
    }

    &__col-100 {
        @include form-col-style;
        width: 100%;
    }

    &__col-33,
    &__col-50,
    &__col-66 {
        @include mobile {
            width: 100%;
        }
    }

    &__input {
        @extend %body-small;
        background: $color-white;
        border: 1px solid $color-light-grey;
        border-radius: 5px;
        color: $color-light-grey;
        display: block;
        margin-top: 8px;
        padding: 13px 16px;
        width: 100%;

        &::placeholder {
            color: $color-light-grey;
        }

        &:focus {
            color: $color-text-dark-grey;
        }

        &:valid {
            color: $color-text-dark-grey;
        }

        &__invalid {
            @extend %body-small;
            background: $color-white;
            border: 1px solid $color-text-light-red;
            border-radius: 5px;
            color: $color-text-dark-grey;
            display: block;
            margin-top: 8px;
            padding: 13px 16px;
            width: 100%;
        }
    }
}

@include mobile {
    .form__col-33 {
        margin-top: 20px;
        order: 2;
        text-align: center !important;
    }

    .form__col-66 {
        order: 1;
        text-align: center !important;
    }
}
