@import 'styles';

.form {
    &__row {
        @include form-row-style;
    }

    &__col-33 {
        @include form-col-style;
        width: calc(33% - (2 * #{$lenght-10}));
    }

    &__col-50 {
        @include form-col-style;
        width: calc(50% - (2 * #{$lenght-10}));
    }

    &__col-66 {
        @include form-col-style;
        width: calc(66% - (2 * #{$lenght-10}));
    }

    &__col-100 {
        @include form-col-style;
        width: 100%;
    }

    &__col-33,
    &__col-50,
    &__col-66 {
        @include respond-to($break-point-mobile, 'max') {
            width: 100%;
        }
    }

    &__label {
        @extend %typography-label;
        color: $color-text-grey;
        display: block;
        margin-bottom: 25px;
        text-align: left;
    }

    &__input {
        @extend %typography-input;
        background: $color-white;
        border: 1px solid $color-text-grey;
        border-radius: 5px;
        color: $color-text-grey;
        display: block;
        margin-top: 8px;
        padding: 13px 16px;
        width: calc(100% - 32px);

        &::placeholder {
            color: $color-text-grey;
        }
    }

    &__action {
        @include form-row-style();
        align-items: baseline;
        margin-bottom: 0;
    }

    &__submit {
        @extend %typography-btn;
        background-color: $color-purple;
        border: unset;
        border-radius: 65px;
        color: $color-white;
        padding: 8px 24px;
    }
}
