$base-color: #6e44ff;
$hover-color: #603bdf;
$font-color: #fff;
$font: 'Roboto', sans-serif;
$font-size: 16px;

.navbar {
    align-items: center;
    background-color: $base-color;
    color: $font-color;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;

    &__list {
        align-items: center;
        display: flex;
        justify-content: center;

        li {
            list-style: none;
        }
    }

    &__list-item {
        align-items: center;
        color: $font-color;
        display: flex;
        flex-direction: row;
        font-family: $font;
        font-size: $font-size;
        font-weight: 500;
        height: 80px;
        justify-content: center;
        line-height: 24px;
        padding: 0 25px;
        text-decoration: none;

        &:hover {
            background-color: $hover-color;
        }

        &--active {
            background-color: $hover-color;
        }
    }

    &__img {
        height: 24px;
        padding-right: 17px;
        width: auto;
    }
}

.logo {
    height: 48px;
    margin-left: 48px;
}
