$color-gift-icon-filled-top: #ff6e75;
$color-gift-icon-filled-bottom: #fadb5e;
$color-gift-icon-filled-active-top: darken($color-gift-icon-filled-top, 5%);
$color-gift-icon-filled-active-bottom: darken(
    $color-gift-icon-filled-bottom,
    5%
);
$color-gift-icon-active-top: desaturate($color-gift-icon-filled-active-top, 5%);
$color-gift-icon-active-bottom: desaturate(
    $color-gift-icon-filled-active-bottom,
    5%
);

.gift {
    &__icon {
        &--filled {
            path:nth-child(1) {
                fill: $color-gift-icon-filled-bottom;
            }

            path:nth-child(2) {
                fill: $color-gift-icon-filled-top;
            }
        }

        &:hover {
            fill-opacity: 0.75;

            path:nth-child(1) {
                fill: $color-gift-icon-filled-bottom;
            }

            path:nth-child(2) {
                fill: $color-gift-icon-filled-top;
            }
        }

        &--filled:active {
            path:nth-child(1) {
                fill: $color-gift-icon-filled-active-bottom;
                fill-opacity: 1;
            }

            path:nth-child(2) {
                fill: $color-gift-icon-filled-active-top;
                fill-opacity: 1;
            }
        }

        &:not(.gift__icon--filled):active {
            path:nth-child(1) {
                fill: $color-gift-icon-active-bottom;
                fill-opacity: 1;
            }

            path:nth-child(2) {
                fill: $color-gift-icon-active-top;
                fill-opacity: 1;
            }
        }
    }
}
