@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$color-restaurant-rating-primary: #fadb5e;
$color-restaurant-rating-secondary: #31465e;
$color-icon-heart-filled: #ff6e75;

.restaurant-rating {
    align-items: center;
    background-color: $color-restaurant-rating-primary;
    border-radius: 8px;
    display: flex;
    height: 32px;
    padding: 0 12px;

    .rating-star {
        box-sizing: content-box;
        cursor: pointer;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: 250ms ease-in;

        &--show {
            max-width: 20px;
            opacity: 1;
            padding-right: 6px;
        }

        &__icon {
            path {
                stroke: $color-restaurant-rating-secondary;
            }

            &--filled {
                fill: $color-restaurant-rating-secondary;
            }
        }
    }

    .rating-value {
        color: $color-restaurant-rating-secondary;
        font-size: $font-size-restaurant-rating;
    }
}
