@import '../../../styles/base/base';

.categories__link {
    background: $color-base;
    border-radius: 8px;
    box-shadow: $box-shadow-lg;
    display: flex;
    height: 98px;
    padding: 24px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &-title {
        @extend %h2-alternative;
        color: $color-text-main;
        text-transform: capitalize;
        @media (min-width: 481px) and (max-width: 540px) {
            font-size: $font-size-restaurant-category-card-title-small;
        }
    }

    &-text {
        color: $color-text-main;
        font-size: $font-size-restaurant-category-card-text;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
    }
}
