@import '../../styles/base/base';

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    user-select: none;

    &__item {
        display: block;

        svg {
            height: 6px;
            margin: 1px 6px;
            width: 6px;
        }

        &-link {
            @extend %caption-2;
            color: $color-text-accent;
            text-decoration: none;

            &--dark {
                color: $color-text-main-alt;
            }
        }

        &:last-child > &-link {
            color: $color-text-main-alt;

            &--dark {
                color: $color-text-strong;
            }
        }
    }
}
