@import 'styles';

.breadcrumbs {
    user-select: none;

    .breadcrumbs-list {
        display: flex;
        flex-wrap: wrap;

        &__li {
            display: block;

            svg {
                height: 7px;
                padding: 1px 4px;
                width: 7px;
            }

            .breadcrumbs-link {
                color: $color-breadcrumbs;
                font-size: $font-size-breadcrumbs;
                font-weight: $font-weight-breadcrumbs;
                line-height: $line-height-breadcrumbs;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:last-child > .breadcrumbs-link {
                color: $color-breadcrumbs-last;
            }
        }
    }
}
