@import 'styles';

.breadcrumbs {
    padding: 0 48px;
    user-select: none;

    @include mobile {
        padding: 0 24px;
    }

    &__content {
        @include restrict-block-to-max-width($max-page-width);
        padding-top: 48px;
    }

    .breadcrumbs-list {
        display: flex;
        flex-wrap: wrap;

        &__li {
            display: block;

            svg {
                height: 7px;
                padding: 1px 4px;
                width: 7px;
            }

            .breadcrumbs-link {
                color: $color-breadcrumbs;
                font-size: $font-size-breadcrumbs;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:last-child > .breadcrumbs-link {
                color: $color-breadcrumbs-last;
            }
        }
    }
}
