@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.reservation-card {
    align-items: center;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: $box-shadow-card-small;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin: 48px 0 0;
    max-height: 94px;
    padding: 24px 16px;
    text-decoration: none;
    width: 100%;

    @include tablet-l {
        &__image {
            height: 11.5vw;
        }
    }
    @include mobile {
        &__image {
            height: 28.75vw;
        }
    }

    &__header {
        color: $color-text-reservations-primary;
        font-size: $font-size-reservation-h2;
        font-weight: 900;
        line-height: 30px;
        margin: 0 0 6px;
    }

    &__reservation-count {
        color: $color-text-reservations-secondary;
        font-size: $font-size-reserved;
        text-transform: uppercase;
    }

    &__image {
        min-height: 100px;
    }
}
