@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$font-size-clock: 100px;
$line-height-clock: 1.18;
$line-height-greeting: 1.16;

.hello-widget {
    color: $color-text-main;
    font-weight: bold;

    @include mobile {
        text-align: center;
    }

    &__clock {
        font-size: $font-size-clock;
        line-height: $line-height-clock;

        @include mobile {
            font-size: $font-size-clock/5 * 4;
            line-height: $line-height-clock/5 * 4;
        }
    }

    &__greeting {
        font-size: $font-size-4xl;
        line-height: $line-height-greeting;
        margin-top: 16px;

        @include mobile {
            font-size: $font-size-4xl/5 * 4;
            line-height: $line-height-greeting/5 * 4;
        }
    }
}
