
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.hello-widget {
    border-radius: 3px;
    margin: 25px;
    padding: 10px;
    text-align: left;

    &__clock {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 117px;
        color: #3E5067;

    }

    &__greeting {
        padding: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;

        color: #3E5067;

    }
}
