@mixin respond-to($size, $dir) {
    @if ($size == retina) {
        // stylelint-disable media-feature-name-no-vendor-prefix
        @media only screen and (min-resolution: 2dppx),
            (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    } @else if ($size and $dir) {
        @media screen and (#{$dir}-width: ($size + px)) {
            @content;
        }
    }
}

@mixin restrict-block-to-max-width($width) {
    box-sizing: border-box;
    margin: auto;
    max-width: $width;
    width: 100%;
}

@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

@mixin form-row-style {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -#{$lenght-10};
    margin-right: -#{$lenght-10};
    position: relative;
}

@mixin form-col-style {
    padding-left: $lenght-10;
    padding-right: $lenght-10;
    position: relative;
}
