$color-black: #000;
$color-light-grey: #cacfd5;
$color-grey: #dcdfe3;
$color-white: #fff;
$color-purple: #6e44ff;
$color-green: #7bf1a8;
$color-red: #ff6e75;

$color-gray-1: #001836;
$color-gray-2: #3e5067;
$color-gray-3: #6a7889;
$color-gray-4: #9ea7b3;
$color-gray-5: #cacfd5;
$color-gray-6: #dcdfe3;
$color-gray-7: #edeff1;
$color-gray-8: #f6f7f8;

// layout:
$color-bg-topbar: #6e44ff;
$color-bg-hover: #603bdf;
$color-bg-container: #f6f7f8;
$color-bg-footer: $color-white;

// text:
$color-text-title: #3e5067;
$color-text-footer: #3e5067;
$color-text-grey: #9ea7b3;
$color-text-dark-grey: #3e5067;
$color-text-light-red: #ff6e75;
$color-text-dropdown: #3e5067;

$color-border-primary: #cacfd5;

// scrollbar:
$color-webkit-scrollbar-track: $color-gray-7;
$color-webkit-scrollbar-thumb: $color-gray-5;

// breadcrumbs:
$color-breadcrumbs: #9ea7b3;
$color-breadcrumbs-last: #6a7889;

// eat out section:
$color-text-eat-out-browse-card: rgba(0, 0, 0, 0.7);

// restaurant card:
$color-text-restaurant-card-primary: $color-gray-1;
$color-text-restaurant-card-secondary: $color-gray-3;
$color-text-restaurant-card-details: $color-gray-2;
$color-icon-heart-filled: $color-red;
$color-bg-restaurant-card: $color-white;

// restaurant rating:
$color-restaurant-rating-primary: #fadb5e;
$color-restaurant-rating-secondary: #31465e;

// restaurant page:
$color-text-restaurant-page-category: $color-white;
$color-text-restaurant-page-title: $color-gray-1;
$color-text-restaurant-page-section-title: $color-gray-2;
$color-text-restaurant-page-details: $color-gray-3;

// weather:
$color-text-weather: rgba(0, 0, 0, 0.5);
$color-text-weather-temp: rgba(0, 0, 0, 0.7);

// button:
$color-button-purple: #6e44ff;
$color-button-dark-purple: #5836cc;
$color-button-darkest-purple: #462ca3;
$color-button-grey: #edeff1;
$color-text-button-disabled: #9ea7b3;
