$color-black: #000;
$color-light-grey: #cacfd5;
$color-grey: #dcdfe3;
$color-white: #fff;
$color-purple: #6e44ff;

// layout:
$color-bg-topbar: #6e44ff;
$color-bg-hover: #603bdf;
$color-bg-container: #f6f7f8;
$color-bg-footer: $color-white;

// text:
$color-text-title: #3e5067;
$color-text-footer: #3e5067;
$color-text-grey: #9ea7b3;
$color-text-dark-grey: #3e5067;
$color-text-light-red: #ff6e75;
$color-text-dropdown: #3e5067;

$color-border-primary: #cacfd5;

// breadcrumbs:
$color-breadcrumbs: #9ea7b3;
$color-breadcrumbs-last: #6a7889;

// eat out section:
$color-text-eat-out-browse-card: rgba(0, 0, 0, 0.7);

// restaurant card:
$color-text-restaurant-card-primary: #001836;
$color-text-restaurant-card-secondary: #6a7889;
$color-icon-heart-filled: #ff6e75;

// restaurant rating:
$color-restaurant-rating-primary: #fadb5e;
$color-restaurant-rating-secondary: #31465e;

// weather:
$color-text-weather: rgba(0, 0, 0, 0.5);
$color-text-weather-temp: rgba(0, 0, 0, 0.7);

// button:
$color-button-purple: #6e44ff;
$color-button-dark-purple: #5836cc;
$color-button-darkest-purple: #462ca3;

// birthday card:
$color-text-birthday-card: #001836;

// photo card:
$color-photo-card-time: #6a7889;

// amount of likes:
$color-amount-of-likes: #627485;

// comment date:
$color-comment-date: #3e5067;
