$font-size-label: 14px;
$font-size-h2: 24px;
$font-size-error: 10px;
$font-size-header: 16px;
$font-size-footer: 10px;
$font-size-title: 36px;
$font-main: 'Roboto', sans-serif;

// breadcrumbs:
$font-size-breadcrumbs: 12px;
$font-weight-breadcrumbs: 500;
$line-height-breadcrumbs: 18px;

// weather:
$font-size-weather: 12px;
$font-size-weather-temp: 60px;
$font-size-weather-cond: 20px;

h2 {
    font-size: $font-size-h2;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

%h2-subtitle {
    font-size: $font-size-header;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}

%typography-label {
    font-size: $font-size-label;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

%typography-input {
    font-size: $font-size-label;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}

%typography-btn {
    font-size: $font-size-label;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}
