$font-main: 'Roboto', sans-serif;

$font-size-header: 16px;
$font-size-footer: 10px;
$text-size: 14px;
$font-size-title: 36px;

// breadcrumbs:
$font-size-breadcrumbs: 12px;
$font-weight-breadcrumbs: 500;
$line-height-breadcrumbs: 18px;

// weather:
$font-size-weather: 12px;
$font-size-weather-temp: 60px;
$font-size-weather-cond: 20px;
