$font-main: 'Roboto', sans-serif;

$font-size-header: 16px;
$font-size-footer: 10px;
$font-size-title: 36px;

// breadcrumbs:
$font-size-breadcrumbs: 12px;
$font-weight-breadcrumbs: 500;
$line-height-breadcrumbs: 18px;
